
p{
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
  width:vmax;
  font-family: Arial, Helvetica, sans-serif;
}
#head{
  
  height: 20vh;
}
#rowone{
  display: flex;
  justify-content: space-between;
}
#img1{
  margin-bottom: 2%;
}
#checkin-input,
#checkout-input {
  appearance: none;
  text-align: center;
  color: #484848;
  border: unset;
  padding-left: 8%;
  outline: none;
  font-size: 12px;
  background: unset;
}

#menu{
  width:100%;
  
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
 
}
#rodape{
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.card-img{
  margin-top: 2%;
  width: 47.5vw;
}
.card-body{
  width: 47.5vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #d8bfbf;
}
#cards{
  width:100%;
  
}
#search-buttonlocal{
  margin-top: 4%;
  margin-left: 40%;
  text-align: center;
  width: 18%;
  border-radius:30%;
  border: 2px;
}
#mapholder{
  background-color: #d8bfbf;
  height: 100%;
  margin-top: 1%;
}
.pagination{
  display: flex;
  justify-content: space-between;
}
#previous,
#next{
  width:20%;
  margin-top:1%;
  border-radius:30%;
  border: 2px;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #6a20f3;
}
#search-button {
  width: 20%;
  border-radius:60%;
  border: 2px;
}

#search-button:hover {
  background: unset;
}
#button{
  display: flex;
  justify-content: space-between;

}
#b {
  text-align: center;
  width: 20%;
  border-radius:60%;
  border: 2px;
}

#b:hover {
  background: unset;
}
#b2 {
  text-align: center;
  width: 18%;
  border-radius:30%;
  border: 2px;
}

#b2:hover {
  background: unset;
}
#local {
  text-align: center;
  width: 70%;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: unset;
  background: unset;
  
}
#local:hover {
  background: unset;
  border: unset;
}
#imgcards{
  float: left;
}
#footer{
width: 80%;  
margin-top: 2%;
padding-left: 4%;
 
}
#divrod{
  width:33%;
  display: flex;
  justify-content: center;
}
#rod{
  text-align: center;
}

::-webkit-datetime-edit-month-field {
  text-transform: uppercase;
}
::-webkit-datetime-edit-day-field {
  text-transform: uppercase;
}
::-webkit-datetime-edit-year-field {
  text-transform: uppercase;
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background: transparent;
}